.footer {
    background: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .logo__footer {
    display: flex;
    margin-bottom: 20px;
  }
  .footer-list__adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--heder-color);
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
      color: var(--alt-color);
    }
  }
  .footer-list__link {
    color: var(--link-footer);
    &:hover, &:focus {
      color: var(--alt-color);
    }
  }
  .footer-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .wrap {
    display: flex;
    align-items: baseline;
  }
  
  .wrap-item:not(:last-child) {
    margin-right: 70px;
  }
  .wrap-item:last-child {
    margin-left:auto;
  }
  .wrap-item__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--heder-color);
  }
  
  .footer .input-form {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    background-color: transparent;
    color: var(--background-team);
    border: 1px solid var(--footer-border);
    filter: var(--filter-drop-shadow);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {border-color: var(--alt-color);
    }
  }
  .icon-subscribe {
    fill: var(--background-team);
    position: absolute;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }