.header {
  @media screen and (min-width: 480px) {
    border-bottom: 1px solid var(--header-border);
  }
}
.header__container {
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
  }
}
.header-connect {
  @media screen and (min-width: 480px) {
    margin-left: auto;
  }
}
.nav-nav {
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
  }
}
.nav-list {
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    color: var(--maim-color);
  }
}
.contact-list {
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (min-width: 1199px) {
    display: flex;
    align-items: center;
  }
}
.nav-list__item:not(:last-child) {
  @media screen and (min-width: 480px) {
    margin-right: 50px;
  }
}
.nav-list__link {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:active {
      color: var(--alt-color);
    }
    @media screen and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.16;
      padding: 5px 21px;
    }
  }
}
.contact-link {
  @media screen and (min-width: 480px) {
    color: var(--description-color);
    display: flex;
    &:hover,
    &:focus {
      color: var(--alt-color);
    }
  }
}
.heder-icon__container {
  @media screen and (min-width: 480px) {
    display: flex;
    margin-left: auto;
  }
}
.heder-icon__img {
  @media screen and (min-width: 480px) {
    margin-right: 10px;
    fill: currentColor;
  }
}

.nav-list__blue-link {
  @media screen and (min-width: 767px) {
    color: var(--alt-color);
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      background-color: var(--alt-color);
      left: 0;
      bottom: -1px;
      @media screen and (max-width: 1199px) {
        bottom: -15px;
      }
    }
  }
}
.mob-menu {
  background-color: var(--heder-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
}
.menu-open-btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--alt-color);
  }
}
.menu-close-btn {
  margin-left: auto;
  display: block;
  margin-bottom: 15px;
  border-radius: 50%;
  border: transparent;
  fill: var(--maim-color);
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--alt-color);
  }
}

.mobmenu-list__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 32px;
}
.mobmenu-list__blue-link {
  color: var(--alt-color);
}
.mobmenu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-contact-list {
  margin-bottom: 64px;
}
.mob-social-list__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-social-list__item {
  &:not(:last-child) {
    &::after {
      content: "";
      margin-left: 10px;
      height: auto;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
.mob-contact-list__tel-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-contact-list__email-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mob-social-list {
  display: flex;
}
.mob-social-list__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.mob-contact-list__item {
  margin-bottom: 32px;
}
.mob-menu.is-hidden {
  left: 100%;
}
