.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--alt-color);
  }
  .logo__header{
    margin-right: 93px;
  }
  .logo--black{
   color: #212121;
  }
  .logo--white {
    color: var(--heder-color);
  }