.social-list {
    display: flex;
    justify-content: center;
  }
  .social-list__item
  {& + & { 
    margin-left: 10px;}
  }
  .social-list__link {
    width: 44px;
    height: 44px;
    background-color: var(--heder-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus{
      background-color: var(--alt-color);}
  }
  .social-list__icon {
  fill: var(--fill-cocial);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-list__link:hover &,
  .ssocial-list__link:focus & {
  fill: var(--heder-color);}
  }
  .footer .social-list__link{
    background-color: var(--footer-social-link-back);
    fill: var(--footer-social);
     &:hover, &:focus{
    background-color: var(--alt-color);
    }
  }
  .footer .social-list__icon {
    fill: var(--footer-social);
  }