body {
    font-family: "Roboto", sans-serif;
    background-color: var(--heder-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-color);
  }
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
    color: inherit;
  }

  