/* =====styles======*/
:root {
    --maim-color: #212121;
    --alt-color: #2196f3;
    --heder-color: #ffffff;
    --description-color: #757575;
    --background-hero: #2f303a;
    --background-team: #f5f4fa;
    --background-footer: #2f303a;
    --link-footer: rgba(255, 255, 255, 0.6);
    --border-color: #eeeeee;
    --header-border: #ececec;
    --box-shadow: rgba(0, 0, 0, 0.15);
    --box-shadow-btm: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --box-shadow-cards: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --fill-cocial: #afb1b8;
    --footer-social: #f5f4fa;
    --engaged-backdrop-span: rgba(47, 48, 58, 0.8);
    --footer-social-link-back: rgba(255, 255, 255, 0.1);
    --portfolio-cards-text: rgba(33, 150, 243, 0.9);
    --backdrop: rgba(0, 0, 0, 0.2);
    --modal-close: rgba(0, 0, 0, 0.1);
    --btn-focus-hover: #188CE8;
    --footer-border: rgba(255, 255, 255, 0.3);
    --filter-drop-shadow:(0px 4px 4px rgba(0, 0, 0, 0.15));
    --placeholder-text:rgba(117, 117, 117, 0.5);
    --input-color: #21212133;
    --card-item: 3;
  }